In [ ]:
import pandas as pd

df = pd.read_csv('https://gist.githubusercontent.com/armgilles/194bcff35001e7eb53a2a8b441e8b2c6/raw/92200bc0a673d5ce2110aaad4544ed6c4010f687/pokemon.csv')

## Discussion 


1. What is a dataframe?


2. What information can we obtain about a dataframe?


3. How have we interacted with a dataframe?

---

### Practice Exercises


#### Information about a dataframe

1. Obtain the following information:
    
    - dimensions
    - dtypes
    - column names
    - summary statistics

---

#### Working with dataframes

1. What is the highest HP value present?

    - Create a function named highest_attack.
    - Use the loaded dataframe as an argument. 


2. Which Pokemon possess(es) the highest HP value?

 
3. How many different types are represented in Type 1?

    - Create a function named num_types
    - Use the loaded dataframe as an argument
    

4. Number of Pokemon whose Type 2 is Ghost


5. Percentage of Pokemon whose Type 2 is Ghost

    - Create a function named percent_ghost
     - Use the loaded dataframe as an argument


6. Number of Pokemon whose Attack is greater than Defense


8. Lowest speed for Grass or Rock


10. Change all the column names

      - lowercase letters
      - remove whitespace


11. Rename Sp. Attack to special-attack


12. Rename Sp. Def to special-defense

    
13. Which Pokemon has/have the greatest difference in: 

    - Attack and Defense points
    - Special Attack and Special Defense
  

14. How many Pokemon are of Type 1 Rock and Type 2 Fairy?


15. Which Fire Pokemon appears last alphabetically?

    - Create a function named last_pokemon
    - Use the loaded dataframe as an argument


---
### Bonus 


1. Find the average speed by Generation

2. Create a function which acccepts: 

- a dataframe
- two different Pokemon stats e.g. Attack and Defense


The function will:

- Calculate difference between the two given Pokemon stats 

- Create a column which contains the difference of the two given Pokemon stats named stats-diff

1. Obtain the following information:
    
    - dimensions
    - dtypes
    - column names
    - summary statistics

In [ ]:
df.shape

In [ ]:
df.dtypes

In [ ]:
df.columns

In [ ]:
df.describe()

#### Working with dataframes

1. What is the highest HP value present?

    - Create a function named highest_attack.
    - Use the loaded dataframe as an argument.

In [ ]:
def highest_attack(x):
    return print('The highest HP value present is:', df['HP'].max())

In [ ]:
highest_attack(df)

2. Which Pokemon possess(es) the highest HP value?

In [ ]:
# Checking how many plkemone have the highest hp
df[['Name', 'HP']].nlargest(1, keep='all', columns='HP')
df[df['HP'] == df['HP'].max()].Name

In [ ]:
# Addinga name function to the highest attack
def highest_attack(df):
    return print('The highest HP value present is:', df['HP'].max(),
                 '\nThe pokemon with the highest HP value is: ', df[df['HP'] == df['HP'].max()].Name)

highest_attack(df)

3. How many different types are represented in Type 1?

    - Create a function named num_types
    - Use the loaded dataframe as an argument

In [ ]:
# Chekcing df
df.head()

In [ ]:
# Grouping the differrent types and getting the length or count
len(df['Type 1'].value_counts())

In [ ]:
def num_types(df):
    num_types = len(df['Type 1'].value_counts())
    return print(f'There are {num_types} different Type 1 Pokemon in our dataset!')

num_types(df)

4. Number of Pokemon whose Type 2 is Ghost

In [ ]:
sum(df['Type 2'] == 'Ghost')

5. Percentage of Pokemon whose Type 2 is Ghost

    - Create a function named percent_ghost
    - Use the loaded dataframe as an argument

In [ ]:
def percent_ghost(df):
    percent_ghost = round(sum(df['Type 2'] == 'Ghost')/df.shape[0] * 100, 2)
    return print(f'{percent_ghost}% of the pokemon in this dataset have Ghost Type 2.')

percent_ghost(df)

6. Number of Pokemon whose Attack is greater than Defense

In [ ]:
# checking column names
df.columns

In [ ]:
#making boolean mask for attack greater than defense
more_attack = df['Attack'] > df['Defense']
more_attack

In [ ]:
# summing the True statements in the more_attack boolean mask
sum(more_attack)

7.

8. Lowest speed for Grass or Rock

In [ ]:
# writing both sections of the boolean mask
grass_type = df['Type 1'] == 'Grass'
rock_type = df['Type 1'] == 'Rock'

In [ ]:
#adding boolean masks to the df
grass_rock_df = df[grass_type | rock_type]
grass_rock_df.sample(5)

In [ ]:
# selecting the speed from the new df and using nsmallest to find potential mulitples
grass_rock_df['Speed'].nsmallest(1, keep='all')

9.

10. Change all the column names

      - lowercase letters
      - remove whitespace

In [130]:
# List method
# making the columns a list for easier manipulation
column_name = list(df.columns)
column_name

# testing lower lsit comp for correctness
column_name = [i.lower() for i in column_name]

# replacing the the '.' with nothing
column_name = [i.replace('.', '') for i in column_name]

# stripping trailing spaces
column_name = [i.strip() for i in column_name]

# changing spaces to underscores
column_name = [i.replace(' ','_') for i in column_name]
column_name

['#',
 'name',
 'type_1',
 'type_2',
 'total',
 'hp',
 'attack',
 'defense',
 'sp_atk',
 'sp_def',
 'speed',
 'generation',
 'legendary']

In [138]:
# pandas method chaining
# df.columns = df.columns.str.lower().str.strip().str.replace('.', '').str.replace(' ', '_')
df.columns

Index(['#', 'name', 'type_1', 'type_2', 'total', 'hp', 'attack', 'defense',
       'sp_atk', 'sp_def', 'speed', 'generation', 'legendary'],
      dtype='object')

11. Rename Sp. Attack to special-attack

In [143]:
df = df.rename(columns={'sp_atk':'special-attack'})
df

,#,name,type_1,type_2,total,hp,attack,defense,special-attack,sp_def,speed,generation,legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

12. Rename Sp. Def to special-defense

In [145]:
df = df.rename(columns={'sp_def':'special-defense'})
df

,#,name,type_1,type_2,total,hp,attack,defense,special-attack,special-defense,speed,generation,legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

13. Which Pokemon has/have the greatest difference in: 

    - Attack and Defense points
    - Special Attack and Special Defense

In [157]:
# attack and defense
df[abs(df.attack - df.defense) == abs(df.attack - df.defense).max()].name

230    Shuckle
Name: name, dtype: object

In [158]:
df[abs(df['special-attack'] - df['special-defense']) == abs(df['special-attack'] - df['special-defense']).max()].name

230    Shuckle
Name: name, dtype: object

14. How many Pokemon are of Type 1 Rock and Type 2 Fairy?

In [168]:
# getting the boolean mask for type 2 fairy
fairy_type_2 = df.type_2 == 'Fairy'
df[fairy_type_2].sample(5)

,#,name,type_1,type_2,total,hp,attack,defense,special-attack,special-defense,speed,generation,legendary
773,703,Carbink,Rock,Fairy,500,50,50,150,50,150,50,6,False
303,280,Ralts,Psychic,Fairy,198,28,25,25,45,35,40,3,False
305,282,Gardevoir,Psychic,Fairy,518,68,65,65,125,115,80,3,False
606,546,Cottonee,Grass,Fairy,280,40,27,60,37,50,66,5,False
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True

In [172]:
# combining the booleans masks to get a larger df
df[rock_type & fairy_type_2]

,#,name,type_1,type_2,total,hp,attack,defense,special-attack,special-defense,speed,generation,legendary
773,703,Carbink,Rock,Fairy,500,50,50,150,50,150,50,6,False
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True

15. Which Fire Pokemon appears last alphabetically?

    - Create a function named last_pokemon
    - Use the loaded dataframe as an argument

In [186]:
# getting all primary and secondary fire types
fire_types = (df.type_1 == 'Fire') | (df.type_2 == 'Fire')
df[fire_types].sample(10)

df[fire_types].name.sort_values().tail(1)

42    Vulpix
Name: name, dtype: object

In [197]:
def last_pokemon(df):
    return df.name.sort_values().tail()

df.name.sort_values().max()

'Zygarde50% Forme'

### Bonus

1. Find the average speed by Generation

In [204]:
df.pivot_table(index='generation', values='speed')

                speed
generation
1           72.584337
2           61.811321
3           66.925000
4           71.338843
5           68.078788
6           66.439024

2. Create a function which acccepts: 

- a dataframe
- two different Pokemon stats e.g. Attack and Defense


The function will:

- Calculate difference between the two given Pokemon stats 

- Create a column which contains the difference of the two given Pokemon stats named stats-diff

In [215]:
def column_diff(df, stat_1 = str, stat_2 = str):
    '''
    this funciton takes the dataframe and two columns that we want the difference from
    '''
    df['stats_diff'] = df[stat_1] - df[stat_2]
    return
df.head()

,#,name,type_1,type_2,total,hp,attack,defense,special-attack,special-defense,speed,generation,legendary,stats_diff
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,0
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,-1
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,-1
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,-23
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,9